.btn {
  border: none;
  color: #44a7b9;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: transparent;
}
.label {
  cursor: pointer;
}
.input {
  height: fit-content;
  border: none;
  background-color: #f3f6f6;
  padding: 10px 10px 10px 20px;
  border-radius: 12px;
}
.input:focus-visible {
  border: none;
  outline: none;
}
